html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family: "Montserrat", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  background-color: #f2c144;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #12345678;
  font-size: 50px;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
}